body{
    background-color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
    margin: 0%;
    padding: 0%;
}

h1{
    font-size: 50px;
    color: white;
}

a{
    color: aquamarine;
    font-size: 16px;
}



#camp_image{
    background-image: url("/resources/Images/camp_image.webp");
    
}
